/* GERAL */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #232121;
    color: #333;
}

textarea:focus, input:focus{
    outline: none;
}

.hide {
    display: none;
}

/* Header */

header {
    border-bottom: 1px solid #333;
    /*background-color: rgb(4, 126, 86);*/
    background-color:#ccc;
    padding: 1rem 2rem;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 4rem;
}

#search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bi-search {
    position: absolute;
    top: 30%;
    right: 0.5rem;    
    color: #333;
}

#search-input {
    background-color: fdfdfd;
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
    color: #333;
    width: 20rem;
    font-size: 1rem;
}

#export-csv-btn i, #export-xml-btn i {
    padding-left: 0.4rem;
}

#export-csv-btn, #export-xml-btn, #add-note-btn {
    background-color: #fdfdfd;
    border: 1px solid #fdfdfd;
    border-radius: 4px;
    padding: 0.5rem 0.3rem;
    color: #333;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

#export-csv-btn:hover, #export-xml-btn:hover, #add-note-btn:hover { 
    background-color: #ccc;
    color: #fdfdfd;
    transition: 0.5s;
    opacity: 1;
}

/* new Note form */

#add-note-container {
    display: flex;
    width: 30rem;
    margin: 1rem auto 0;
    gap: 0.5rem;
}

#add-note-container input,
#add-note-container button { 
    padding: 0.5rem;
    border-radius: 4px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #fdfdfd;
    font-size: 1rem;
    color: #fdfdfd;
}


/* Notes */

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    padding: 2rem;
    gap: 1.2rem;
}

.note { 
    min-height: 200px;
    padding: 1rem;
    border-radius: 0px 20px 0px 20px;
    background-color: #ffffcc;
    position: relative;
}

.note:hover > i {
    opacity: 1;
} 

.note textarea {
    background-color:transparent;
    resize: none;
    color:#333;
    border:none;
    height: 100%;
    width: 90%;    
    outline: none;
}

.note .bi-save {
    position: absolute;
    right: 14px;
    font-size: 16px;
    top: 40px;
    transition: 0.3s;  
    cursor: pointer;
} 

.note .bi-save:hover {
    transition: 0.3s;  
    font-size: 18px;
    transform: rotate(-25deg);  
} 

.note .bi-pin {
    position: absolute;
    right: 12px;
    font-size: 18px;
    top: 10px;
    transform: rotate(25deg);  
    transition: 0.3s;  
    cursor: pointer;
} 

.note .bi-pin:hover{
    color: #ff0000;
    font-size: 22px;
    transition: 0.3s;  
}
.note .bi-palette,
.note .bi-trash,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    transition: 0.3s;  
    cursor: pointer;
    opacity: 0;
}

.note .bi-palette {
    bottom: 60px;
}

.note .bi-file-earmark-plus {
    bottom: 35px;
}

.note .bi-trash:hover {
    transition: 0.3s;  
    color:  #ff0000;
    font-size: 18px;
}

.note .bi-file-earmark-plus:hover,
.note .bi-palette:hover {
    transition: 0.3s;  
    font-size: 18px;
}

.note.fixed {
    box-shadow: 3px 5px 12px 5px#aa6060;
}

.note.fixed .bi-pin{
    color: #ff0000;     
    font-size: 22px;     
    transform: rotate(0deg);  
}

.note.fixed .bi-pin:hover{
    transition: 0.3s;  
    color: #333;
    font-size: 18px;
    transform: rotate(25deg); 
}


/* Mobile */

@media (max-width: 480px) {

    header {
        padding: 0;
        margin-top: -20px !important;
        width: 100%;
        display: flex;
        position:fixed;
        overflow-y:scroll;
        min-height: 40px;
        z-index: 1;       
    }

    h1 {
        font-size: 1rem;
        padding-left: 5px;
    }

    #add-note-container {
        width: auto;
        padding: 1rem;
        padding-top: 3rem;
        margin-top: 20px;
    }

    #search-container{
       max-width: 63%;
    }

    .bi-search {
        top: 10%;
        right: 0.5rem;            
    }

    #search-container i {
        padding-right: 1rem;
        padding-top: 0.3rem;
        margin: 0;
    }

    #search-container input{
       margin-left: 3px;
       font-size: 0.8rem;
       width: 90%;
    }

    #export-csv-btn, #export-xml-btn{
        font-size: 0.7rem;
        max-width: 20%;    
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }
    #export-xml-btn {
        margin-left: 4px;
        margin-right: 6px;
    }

    #notes-container {
        width: 100%;
        display:block;
        padding:1rem;
    }

    .note {
        margin-bottom: 1.5rem;
    }
    
}

@media (max-width: 500px) {       
  
}

@media (max-width: 780px) {       
 
}

@media (max-width: 968px) {       
   
}